.signInPage {
    display: flex;
    height: 100vh;
  }
  
  .leftSide {
    background-color: black;
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .rightSide {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .signInCard {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .signInBtn {
    margin: 10px 0;
    background-color: black;
    border: 1px solid gray;
    border-radius: 10px;
    color: aliceblue;
    font-weight: bold;
    padding: 10px;
    width: 100%;
  }

  .btn1{
    margin: 10px;
    background-color:white;
    border: 1px solid gray;
    border-radius: 10px;
    color: lightgray;
    padding: 5px;
    width: 170px;
  }

  .hor-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .grey-text{
    color:rgb(181, 180, 180)
  }

  .left{
    text-align: left;
  }

  .para{
    font-weight: 500;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin: 10px 0;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
  }
  
  a {
    color: rgb(0, 110, 255);
    text-decoration: none;
    text-align: left;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .signInPage {
      flex-direction: column;
    }
  
    .leftSide, .rightSide {
      width: 100%;
      padding: 10px;
    }
  
    .signInCard {
      width: 90%;
      margin: 20px auto; 
    }
  }